.package {
  $gap: 32px;

  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: $gap;

  .name {
    //
  }

  .date {
    //
  }

  .description {
    line-height: 2;
  }

  .snippet {
    //
  }
}