@import '~normalize.css';
@import '~prismjs/themes/prism-dark.css';
@import './fonts.scss';
@import './code.scss';
@import './container.scss';
@import './spacing.scss';

:root {
  // theme
  --bg-dark-1: #3A3A3A;
  --bg-dark-2: #2B2B2B;
  --text-primary: #C7AA8B;
  --text-primary-light: #EFCCA7;
  --text-primary-dark: #56432F;
  --bg-code: #282828;
  --bg-code-topbar: #A4A4A4;
  --bg-primary: #C7AA8B;
  --bg-primary-dark: #be966a;

  // html
  --color-html: #ffa500;

  // ts
  --color-ts-light: #358EF1;
  --color-ts: #235A97;
  --color-ts-dark: #00273f;

  // cs
  --color-css: #264de4;

  // js
  --color-js-light: #f1dd35;
  --color-js: #c6bf31;

  // php
  --color-php: #8892bf;

  // placeholders
  --ph-curve-color: #ff7766;
  --ph-progress-color: #33dd66;
  --ph-fresh-color: var(--bg-primary);
}

*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Raleway, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 16px;
  color: var(--text-primary-light);
  background-color: var(--bg-dark-2);
}

code {
  font-family:
    CascadiaPLCode,
    CascadiaCode,
    CascadiaPLMono,
    CascadiaMono,
    'Courier Prime',
    'Courier New',
    Courier,
    monospace;
  font-size: 0.8em;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.typewriter {
  font-family:
    'Courier Prime',
    'Courier New',
    Courier,
    monospace;
}

.h1 {
  font-size: 30px;
}

.h2 {
  font-size: 24px;
}

.h3 {
  font-size: 20px;

  &.code {
    font-family: 'Courier Prime', 'Courier New', Courier, monospace;
  }
}


.stretch { width: 100%; }
