---
import Head from '../components/Head';
import Favicon from '../components/Favicon';
import { Blubber } from '../components/Svg/Blubber.tsx';
---

<head>
  <Head />
  <Favicon />
</head>
<body>
  <Blubber
    uniq="blubber-1"
    size="50vmin"
    color="red"
  />
</body>
