.snippet {
  width: 100%;

  .top {
    $height: 1.2em;
    $gap: 6px;

    height: $height;
    background-color: var(--bg-code-topbar);
    border-radius: 6px 6px 0 0;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: $gap;
    padding-right: $gap;

    .dot {
      border-radius: 50%;

      height: calc(#{$height} - #{$gap});
      width: calc(#{$height} - #{$gap});

      &.minimize {
        background-color: #D3D644;
      }
      &.maximize {
        background-color: #4DDB8E;
      }
      &.close {
        background-color: #E46262;
      }
    }
  }

  code {
    display: block;
    white-space: pre-wrap;
    background-color: var(--bg-code);
    padding: 1em;
    border-radius: 0 0 6px 6px;
  }
}

