@font-face {
  font-family: 'CascadiaCode';
  src: url('../fonts/CascadiaCode.woff2');
}

@font-face {
  // PL: powerline
  font-family: 'CascadiaCodePL';
  src: url('../fonts/CascadiaCodePL.woff2');
}

@font-face {
  font-family: 'CascadiaCode';
  font-style: italic;
  src: url('../fonts/CascadiaCodeItalic.woff2');
}

@font-face {
  // PL: powerline
  font-family: 'CascadiaCodePL';
  font-style: italic;
  src: url('../fonts/CascadiaCodePLItalic.woff2');
}

@font-face {
  font-family: 'CascadiaMono';
  src: url('../fonts/CascadiaMono.woff2');
}

@font-face {
  // PL: powerline
  font-family: 'CascadiaMonoPL';
  src: url('../fonts/CascadiaMonoPL.woff2');
}

@font-face {
  font-family: 'CascadiaMono';
  font-style: italic;
  src: url('../fonts/CascadiaMonoItalic.woff2');
}

@font-face {
  // PL: powerline
  font-family: 'CascadiaMonoPL';
  font-style: italic;
  src: url('../fonts/CascadiaMonoPLItalic.woff2');
}
